.container {
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
}
nav a {
  margin-right: 20px;
  background-color: pink;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
body {
  background-color: #e4f9f5;
  margin: 0;
}
button {
  width: 250px;
  height: 40px;
  display: block;
  margin: 50px auto;
}
